.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.social img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
