.postContent {
  width: 100%;
  max-width: calc(1000px - 2rem);
}

.postContent img {
  display: block;
  max-width: 90%;
  max-height: 80vh;
  margin: 0 auto;
  border-radius: 0.2rem;
}

.postContent blockquote {
  border-left: 0.2rem solid #202020;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-style: italic;
  background: #00000010;
}

.postContent > code,
.postContent p > code {
  font-family: monospace;
  font-size: 0.9rem;
  background: #20202020;
  padding: 0.25rem;
  border-radius: 0.2rem;
  margin: 0.25rem 0;
  display: inline-block;
}

.postContent pre {
  background: #111d13;
  font-size: 0.9rem;
}

.postContent p a,
.postContent li a {
  color: #ff004c;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: ease-in 0.2s;
  margin-right: 0.5rem;
}

.postContent p a:hover,
.postContent li a:hover {
  border-color: #ff004c;
}
